.Sidebar{

    height: 100%;
    width: 100%;
    background-color:white;
  }
  
  .SidebarList{
    height: auto;
    padding: 0;
    width: 100%;
  }
  
  .SidebarList .row{
    width: 100%;
    height: 50px;
    background-color:#2F4050;
    border: 1px solid black;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .SidebarList .row:hover{
    cursor: pointer;
    background-color: #293846;
  
  }
  
  
  
  .row #title
  {
    align-content: left;
  }